* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f8cf;
  color: #333;
}

header {
  background-color: #10403b;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  box-shadow: #000000 0px 1px 1px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: 1.5rem;
  font-family: cursive;
}
header h1 span {
  color: #04d6dd;
  font-weight: bold;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav-bar a:hover {
  color: #f4d03f;
  transform: scale(1.05);
}

.nav-bar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-bar a:hover::after {
  width: 100%;
}

.sign-up {
  background: radial-gradient(
    ellipse at bottom,
    rgb(2, 133, 93) 0%,
    rgb(1, 17, 8) 45%
  );
  color: #ffffff;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.sign-up:hover {
  background-color: #046d80;
  transform: scale(1.05);
}

/* Main page */

.hero {
  height: 88.5vh;
  display: flex;
  justify-content: space-around;
    background: linear-gradient(
    to bottom,
    rgb(20, 92, 86),
    rgba(246, 248, 209, 0.863)
  );
  overflow: hidden;
  filter: grayscale(0px 0px 10px rgba(255, 255, 255, 0.836));

}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-content h1 {
  color: #010f11;
  font-size: 2.9rem;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hero-content h1:hover {
  transform: scale(1.05);
}

.span {
  color: #010f11;
  font-weight: bold;
  font-family: cursive;
}
.span:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.span1 {
  color: #010f11;
  font-weight: bold;
  font-family: cursive;
}
.span1:hover {
  color: #ffffff;
  filter: drop-shadow(0px 0px 10px rgba(0, 215, 253, 0.671));
  transform: scale(1.05);
}

#shop-now {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgb(2, 133, 93) 0%,
    rgb(1, 17, 8) 45%
  );
  color: rgb(255, 255, 255, 0.66);
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

#shop-now::before,
.sign-up::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background: #10403b;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

#shop-now:hover,
.sign-up:hover {
  background: linear-gradient(
    to bottom,
    rgb(20, 92, 86),
    rgba(246, 248, 209, 0.863)
  );
  box-shadow: 0 10px 30px rgba(3, 10, 24, 0.6);

  border: none;
  color: rgb(0, 0, 0);
  transform: scale(1.1) translateY(-3px);
}

#shop-now:hover::before,
.sign-up:hover::before {
  opacity: 1;
}

.hero-image {
  display: flex;
  justify-content: center;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(236, 248, 129) 50%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to bottom,
    rgb(240, 248, 122) 80%,
    transparent 110%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  padding: 80px;
  text-align: center;
  gap: 20px;
}
.about h2 {
  color: #022324;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: cursive;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.about h2:hover {
  color: #049bb6;
  transform: scale(1.05);
}
.about p {
  color: #262627;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 85%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.about p:hover {
  color: #049bb6;
  transform: scale(1.05);
}



/* footer */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container {
  width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background: linear-gradient(
    to top,
    rgb(20, 92, 86),
    rgba(246, 248, 209, 0.863)
  );
  overflow: hidden;
  filter: grayscale(0px 0px 10px rgba(255, 255, 255, 0.836));
  padding: 30px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 20px;
  color: black;
  text-transform: capitalize;
  font-family: cursive;
  margin-bottom: 35px;
  font-weight: 600;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #d4ac0a;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #10403b;
  text-decoration: none;
  font-weight: bold;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #f4d03f;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(10, 85, 75, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #010f11;
  background-color: #d4ac0a;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.form-container {
  width: 300px;
  margin-right: 100px;
  margin-left: -50px;
  border: 2px solid transparent;
  padding: 12px 12px;
  font-size: 14px;
  font-family: inherit;
  color: #10403b;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 16px;
  background-size: 200% 100%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #10403b;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #10403b;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 56px;
  border: 1px solid #10403b;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #d4ac0a;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #d4ac0a;
}

.form-container .form-submit-btn {
  padding: 10px 14px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 0px 3px rgba(46, 50, 51, 0.568);
  transition: transform 0.18s ease, box-shadow 0.18s ease, background 0.18s ease;
  margin-left: auto;
}

.form-container .form-submit-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(3, 10, 24, 0.6);
  background: linear-gradient(90deg, var(--accent), var(--accent-2));
  color: #ffffff;
}